.header{
    background-color: green;
    position: relative;
    width: 98.44%;
    height: 100px;
    position: fixed;
    z-index: 1;
    top : 0.1%;
    border: 4px solid black;
    margin-right:0% !important;
}
.appName{
    position: relative;
    top: -10%;
    color: black;
    display: block;
    text-align: center;
}
.info{
    padding-left: 3% ;
    font-size: 1.15rem;
}
.session{
    position: relative;
    top : -60%;
    text-align: right !important;
    padding-left: 0%;
    padding-right: 3%;
}
.candidateName{
    position: relative;
    top : -13%;
    padding-bottom: -20%;
}
main{
    position: relative;
    width: 100%;
    top: 107px;
    background-color: coral;
    display: flex;
    justify-items: center;
    align-content: flex-end;
    flex-direction: row;
}
.questionContainer{
    background-color: coral;
    position: relative;
    top : 101px;
    width : 99.34%;
    justify-content: center;
    border: 5px solid black;
    border-top: none;
    border-bottom: none;
}
.questionSet{
    flex-basis: 60%;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 70px;
    justify-content: center;
    border-right: 5px solid black;
    
}
.subjectsAndQuestions{
    flex-basis: 30%;
    padding : 5% 5% ;
    display : inline;
    align-content: flex-start;
    height: 56.8vh;
}
.div{
    display: inline-block;
    border-bottom: none;
    border-top: none;
    background-color: coral;
}
.physics,.chemistry,.biology{
    font-size: 18px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    border: 4px solid black;
    padding : 2% 2% !important;
    position: relative;
    left : 7%;
    margin: 2% 2%;
    width: 25%;
    top: -70px;
}
.physics:hover,.chemistry:hover,.biology:hover{
    cursor: pointer ;
}
footer{
    position: relative;
    top : 101px;
    bottom: -40%;
    background-color: darkslategrey;
    width : 99.45%;
    height : 68px;
    text-align: center;
    border: 4px solid black;
}
.copyright{
    text-decoration-style: double;
    text-decoration: dotted;
    position: relative;
    top : 20px;
    font-weight: 1000;
}
.template {
    height : 10% !important;
    width: 10% !important;
    border : 4px solid black;
    background-color: red;
    border-radius: 20%;
    font-weight: bolder;
   /* margin-right: 1%;*/
    margin-top: 1%;

}
.template:hover{
    cursor: pointer;
}
.welcome{
    font-size: 2rem;
    font-weight: bolder;
    position: relative;
    top : 35%;
    left : 27%;
    vertical-align: middle;
}
.welcomeButton{
    position: relative;
    top: 37%;
    left: 37%;
    align-items : center;
    height : 50px;
    width: 23%;
    margin-top: 1%;
    border : 4px solid black;
    background-color: red;
    border-radius: 20%;
    font-weight: bolder;
    justify-content: center;
}
.Option1,.Option3{
    margin-left: 5%;
    position: relative;
    top: 15%;
}
.Option2,.Option4{
    margin-left: 40%;
    margin-top: 2%;
    font-weight: bolder;
    position: relative;
    top: 15%;
}
label{
    font-weight: bolder;
    position: relative;
    top: 15%;
}
.question,.subjectQuestionNumber{
    margin-left: 5%;
    font-weight: bolder;
}
/*.covid{
    width: auto !important;
    position: relative;
    left: 43.5% !important;
}
.covidState,.covidDistrict{
    width: auto;
}*/
table{
    align-self: center;
}
.states{
    align-items : center;
    height : 60px;
    width: 95%;
    margin-top: 0%;
    border : 4px solid black;
    background-color: red;
    border-radius: 20%;
    font-weight: bolder;
    justify-self: center;
    overflow: hidden;
}
.tag{
    justify-self: center;
    grid-column : 1/6;
   /* padding: 10px 10px;

    font-size: 1.5rem;
*/}
strong,p{
    justify-self: center;
}

.questionSet p{
    color: rgb(94, 23, 23);
    height: 40px;
}















